@import url('https://fonts.googleapis.com/css?family=Muli:300,700');

:local(.app) {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  
  .wrapper {
    width: 100vw;
    height: 200vh;
    transition: transform 4s cubic-bezier(.55,.01,.52,1.04);
  }

  .bio {
    transform: translate(0, -50%);
  }
}