@import url('https://fonts.googleapis.com/css?family=Muli:300,700');

:local(.home) {
  width: 100vw;
  height: 100vh;
  background: url(../../media/portrait.png) no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  overflow: hidden;

  h1, a {
    color: white;
    font-family: Muli, Helvetica, Arial, sans-serif;
    text-decoration: none;
  }

  h1 {
    font-weight: 700;
    padding-top: 50vh;
  }

  a {
    padding: 0 .4rem;
    font-weight: 300;
  }
}